
nav.menu-nav ul li.bouton{
	list-style-type: none;
	display: inline-block;
} 

nav.menu-nav ul li.bouton a{
	color: white;
	background-color: red;
	text-decoration: none;
	padding: 20px;
}

nav.menu-nav ul li.bouton:hover a{
	color: red;
	background-color: white;
	transition: 0.3s;
}

p.welcome{
	color: blue;
}

p.test{
	color: #CF1A20;
}

body{
	background: #777;
}